<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>商城订单</title>
		<link rel="stylesheet" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" href="../assets/css/common.css" />
		<link rel="stylesheet" href="../assets/css/dropload.css" />
		<link rel="stylesheet" href="../assets/css/shop-order.css" />
		<style>
			html,
			body {
				background: #F2F2F2;
			}
		</style>
	</head>

	<body>
		<header data-am-widget="header" class="am-header header-white border-b">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="_back"></i>
				</a>
			</div>
			<h1 class="am-header-title">
	        商城订单
	      </h1>
			<div class="am-header-right am-header-nav">
				<a href="javascript:location.href = preUrl('my/after-sales-list.html')" class="">
					<span class="am-header-nav-title gray" style="font-size:14px;">
	                	售后
	              </span>
				</a>
			</div>
		</header>
		<div class="container">
			<ul class="so-classify clearfix">
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=0')">全部</a>
				</li>
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=1')">待付款</a>
				</li>
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=2')">待发货</a>
				</li>
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=3')">待收货</a>
				</li>
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=4')">待评价</a>
				</li>
				<li>
					<a href="javascript:location.href=preUrl('my/shop-order.html?status=5')">已完成</a>
				</li>

			</ul>
			<div class="tab-content">
				<!--全部-->
				<ul class="shop_order_list"></ul>
				<script type="text/html" id="shopOrder_list">
					{{each listItems as item index}}
					<li class="list-item" data="{{item.id}}">

						<div class="item-top clearfix">
							<span class="am-fl">订单号<i>    {{item.order_no}}</i></span> {{if item.status == 1}}
							<span class="am-fr orange">待付款</span> {{else if item.status == 2}}
							<span class="am-fr orange">待发货</span> {{else if item.status == 3}}
							<span class="am-fr orange">待收货</span> {{else if item.status == 4}}
							<span class="am-fr orange">待评价</span> {{else if item.status == 5}}
							<span class="am-fr orange">已完成 </span> {{else if item.status == 6}}
							<span class="am-fr orange">已关闭 </span> {{/if}}
						</div>

						<div class="item-center clearfix" data="{{item.id}}">
							<div class="i-p-left am-fl p-o-mul">
								{{each item.goods_imgs.split(',') as goosItem index}}
								<img src="{{goosItem}}" alt="" /> {{/each}}
							</div>
							<div class="p-o-num">
								<a href="javascript:;" class="gray">共<span>{{item.total_count}}</span>件<i class="_right"></i></a>
							</div>
						</div>

						{{if item.status == 1}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
							<div class="am-fr i-b-statu">
								<a href="javascript:location.href=preUrl('index/pay.html?orderID={{item.id}}&price={{item.paid_price}}')" class="np-pay am-fr">去支付</a>
								<a href="javascript:;" class="np-del am-fr">取消订单</a>
							</div>
						</div>
						{{else if item.status == 2}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
						</div>

						{{else if item.status == 3}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
							<div class="am-fr i-b-statu">
								<a href="javascript:;" class="confirm-order am-fr">确认收货</a>
							</div>
						</div>
						{{else if item.status == 4}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
							<div class="am-fr i-b-statu">
								<a href="javascript:location.href=preUrl('my/shipment-details.html?orderID={{item.id}}')" class="confirm-order am-fr evaluation">去评价</a>
							</div>
						</div>
						{{else if item.status == 5}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
							<div class="am-fr i-b-statu">
								<a href="javascript:;" class="del-order am-fr">删除订单</a>
							</div>
						</div>
						{{else if item.status == 6}}
						<div class="item-bottom clearfix">
							<span class="am-fl">合计：<i class = "orange">￥{{item.paid_price}}</i></span>
							<div class="am-fr i-b-statu">
								<a href="javascript:;" class="del-order am-fr">删除订单</a>
							</div>
						</div>
						{{/if}}

					</li>
					{{/each}}
				</script>

			</div>
		</div>

	</body>
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/amazeui.js"></script>
	<script src="../assets/js/template.js"></script>
	<script src="../assets/js/md5.js"></script>
	<script src="../assets/js/common.js"></script>
	<script src="../assets/js/dropload.min.js"></script>

	<script>
		$(function() {
			var token = getCookie('token');
			var status = GetQueryString('status');
			if(GetQueryString('status') == 0) {
				$('.so-classify li').eq(0).children('a').addClass('active');
			} else if(GetQueryString('status') == 1) {
				$('.so-classify li').eq(1).children('a').addClass('active');
			} else if(GetQueryString('status') == 2) {
				$('.so-classify li').eq(2).children('a').addClass('active');
			} else if(GetQueryString('status') == 3) {
				$('.so-classify li').eq(3).children('a').addClass('active');
			} else if(GetQueryString('status') == 4) {
				$('.so-classify li').eq(4).children('a').addClass('active');
			} else if(GetQueryString('status') == 5) {
				$('.so-classify li').eq(5).children('a').addClass('active');
			} else if(GetQueryString('status') == 6) {
				$('.so-classify li').eq(6).children('a').addClass('active');
			}
			//显示页面内容
			var para = window.location.search;
			var token = getCookie("token");
			var page = 0;
			var $dropload = $('.tab-content').dropload({
				scrollArea: window,
				domDown: {
					domNoData: '<div class="dropload-noData">没有更多</div>'
				},
				loadDownFn: function(me) {
					$.ajax({
						type: 'POST',
						url: reqUrl('order_list'),
						data: {
							token: token,
							page: page,
							status: status,

						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('log/login.html' + para + '&path=my/shop_order.html');
							} else if(data.success) {
								page++;
								var arrLen = data.infor.listItems.length;
								if(arrLen > 0) {
									//预编译模板
									var content = template('shopOrder_list', data.infor);
								} else {
									// 锁定
									me.lock();
									// 无数据
									me.noData();
								}
								$('.shop_order_list').append(content);
								$('.item-center').click(function() {
									var data = $(this).attr('data')
									window.location.href = preUrl('my/shipment-details.html?orderID=' + data + '')
								})

								me.resetload();
							} else {
								mask(data.msg);
							}
						}
					});
				}

			});
			//删除订单

			$('.shop_order_list').on('click', function(e) {
				var orderId = $(e.target).parents('.list-item').attr('data');
				console.log(orderId)
				var cls = e.target.className;
				if(cls == 'del-order am-fr') {
					$.ajax({
						type: 'POST',
						url: reqUrl('order_oper'),
						data: {
							token: token,
							order_id: orderId,
							operatetype: 3
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('log/login.html' + para + '&path=my/shop_order.html');
							} else if(data.success) {
								console.log(data.msg);
								mask('删除成功');
								setTimeout(function() {
									location.reload();
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				} else if(cls == 'np-del am-fr') {
					$.ajax({
						type: 'POST',
						url: reqUrl('order_oper'),
						data: {
							token: token,
							order_id: orderId,
							operatetype: 2
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('log/login.html' + para + '&path=my/shop_order.html');
							} else if(data.success) {
								console.log(data.msg);
								mask('删除成功');
								setTimeout(function() {
									location.reload();
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				} else if(cls == 'confirm-order am-fr') {
					$.ajax({
						type: 'POST',
						url: reqUrl('order_oper'),
						data: {
							token: token,
							order_id: orderId,
							operatetype: 1
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('log/login.html' + para + '&path=my/shop_order.html');
							} else if(data.success) {
								console.log(data.msg);
								mask('删除成功');
								setTimeout(function() {
									location.reload();
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				}
			});

		});
	</script>

</html>