html,
body {
	background: #f2f2f2;
	width: 100%;
	height: 100%;
}

.sp-classify {
	margin: 0;
}

.sp-classify .sp-c-nav {
	background: #fff;
	padding: 0 10px;
	box-sizing: border-box;
	width: 85%
}

.sp-c-nav li {
	position: relative;
}

.sp-c-nav li a {
	font-size: 14px;
	color: #292929;
	display: block;
	width: 80%;
	padding: 15px 0;
	text-align: center;
}

.sp-c-nav li.am-active a {
	color: #ff6801;
	border-bottom: 2px solid #ff6801;
}

.sp-c-nav li .pull-down {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 8px;
	height: 8px;
	display: block;
	background: url(../i/pull-down.png) no-repeat center;
	background-size: contain;
	margin-top: -4px;
}

.sp-c-nav li.am-active .pull-down {
	background: url(../i/pull-down-c.png) no-repeat center;
}

.sp-c-nav li .pull-down-p {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 8px;
	height: 8px;
	display: block;
	background: url(../i/pull-down.png) no-repeat center;
	background-size: contain;
}

.sp-c-nav li.am-active .pull-down-p {
	background: url(../i/pull-down-c.png) no-repeat center;
	background-size: contain;
}

.sp-c-nav li .up-down-p {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 8px;
	height: 8px;
	display: block;
	background: url(../i/up-down.png) no-repeat center;
	background-size: contain;
	margin-top: -9px;
}

.sp-c-nav li .v-line {
	width: 1px;
	height: 18px;
	background: url(../i/v-line.png) no-repeat center;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -9px;
	display: block;
}

.l-style,
.t-style {
	width: 15%;
	height: 52px;
	line-height: 55px;
	background: #fff;
}

.l-style a {
	display: block;
	background: url(../i/array1.png) no-repeat center;
	background-size: 20px 20px;
	width: 100%;
	height: 100%;
}

.t-style a {
	display: block;
	background: url(../i/array2.png) no-repeat center;
	background-size: 20px 20px;
	width: 100%;
	height: 100%;
}


/*商品列表*/

.am-tabs-bd {
	border: none;
}

.am-tabs-bd .am-tab-panel {
	padding: 0;
}

.jt-shop-list:not(:first-child) {
	display: none;
}

#search-ul {
	width: 100%;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-flow: nowrap;
	flex-flow: nowrap;
	background: #fff;
}

#search-ul li {
	width: 33.333333%;
	text-align: center;
	line-height: 40px;
	height: 40px;
}

#search-ul li a {
	width: 100%;
	display: block;
	position: relative;
	line-height: 40px;
	padding: 0;
}

li.color a {
	color: #F37B1D;
}

.jt-l-item {
	margin-top: 6px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	background: #fff;
}

.jt-l-item .item-left {
	
	position: relative;
}

.jt-l-item .item-left img {
	width: 100%;
	height: 100%;
}

.jt-l-item .item-left span {
	background: url(../i/cuxiao.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
	width: 30px;
	height: 20px;
	background-size: contain;
}

.am-gallery-item .cx {
	background: url(../i/cuxiao.png) no-repeat center;
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
	width: 30px;
	height: 20px;
	background-size: contain;
}

.jt-l-item .item-left img {
	width: 108px;
	height: 108px;
}

.jt-l-item .item-right {
	width: 65%;
	padding: 15px 15px 0 10px;
}

.item-right h4 {
	color: #1b0d10;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: pre-wrap;
}

.i-r-center {
	margin-top: 8px;
}

.i-r-center span {
	display: block;
	padding: 0 3px;
	line-height: 20px;
	color: #8b8b8b;
	background: #ececec;
	text-align: center;
	font-size: 12px;
}

.i-r-center .shopcart {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../i/shop-cart.png) no-repeat center;
	background-size: 25px 25px;
}

.i-r-bottom {
	font-size: 14px;
	margin-top: 3px;
}

.i-r-bottom .b-price {
	color: #ff6801;
}

.i-r-bottom .b-price i {
	font-size: 12px;
	color: #939393;
	text-decoration: line-through;
}

.i-r-bottom .b-num {
	color: #939393;
	font-size: 12px;
}

/*.jt-shop-list .search-li {
	padding: 14px;
}*/

/*.jt-shop-list .search-li .item-left {
	width: 80px;
	height: 80px;
}*/

/*.search-li .item-right {
	width: 65%;
	padding: 0;
	margin-left: 20px;
}*/


/*横向排列*/

.am-gallery {
	padding: 0px 8px 0 8px;
	list-style: none;
	margin-top: 15px;
}

.am-gallery-imgbordered> li {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
}

.am-gallery-imgbordered .am-gallery-item img {
	width: 113px;
	height: 113px;
	margin: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
}

.am-gallery-imgbordered> .re_item {
	padding: 0px;
	background: #fff;
}

.am-avg-sm-2> .re_item {
	width: 48%;
	margin: 0 1%;
	margin-bottom: 10px;
}

.re_item .re_item_title {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: pre-wrap;
	padding: 0 5px;
	color: #030303;
	font-size: 12px;
}

.re_item_name {
	width: 64px;
	/*padding:0px 5px;*/
	line-height: 22px;
	border-radius: 2px;
	background: #ececec;
	color: #959393;
	font-size: 12px;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
}

.am-gallery-item {
	position: relative;
}

.sp-logo {
	position: absolute;
	display: block;
	width: 30px;
	height: 20px;
	background: url(../i/sp-logo.png) no-repeat center;
	background-size: contain;
	color: #fff;
	font-size: 10px;
	text-align: center;
	top: 0;
	right: 15px;
}

.re_item_bom {
	padding: 10px 5px;
	font-size: 13px;
}

.am-gallery-item .i-r-center {
	padding: 0 7px;
}

.am-gallery-item .i-r-center span:first-child {
	display: block;
	padding: 0 3px;
	line-height: 20px;
	color: #8b8b8b;
	background: #ececec;
	text-align: center;
	font-size: 12px;
}

.am-gallery-item .i-r-center span:last-child {
	font-size: 12px;
	color: #939393;
	background: none;
}

.am-gallery-item .re_item_bom a {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../i/shop-cart.png) no-repeat center;
	background-size: 20px 20px;
}

.re_item_bom .b-price i {
	font-size: 12px;
	color: #939393;
	text-decoration: line-through;
}

.re_item_bom .b-price {
	font-size: 14px;
	color: #ff6801;
}


/*商城分类筛选（弹出层）*/

.one-classify {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fff;
	position: absolute;
	top: 105px;
	left: 0;
	padding-top: 100px;
	z-index: 222;
	display: none;
}

.one-classify .close {
	width: 200px;
	height: 16px;
	margin-bottom: 7px;
	margin: auto;
}

.one-classify .close i {
	display: block;
	width: 15px;
	height: 15px;
	background: url(../i/close.png) no-repeat center;
	background-size: contain;
}

.classify-list {
	width: 200px;
	height: 100%;
	margin: 0 auto;
}

.classify-list li {
	width: 88px;
	height: 88px;
	margin: 0 6px;
	border-radius: 50%;
	margin-bottom: 16px;
	float: left;
}

.classify-list li img {
	width: 88px;
	height: 88px;
	border-radius: 50%;
}


/*分类弹出框*/

.Mask {
	width: 100%;
	height: 100%;
	z-index: 223;
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	display: none;
	background: rgba(0, 0, 0, 0.5);
}

.mmask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 240px;
	left: 0;
	right: 0;
}

#wrapper1,
#wrapper2,
#wrapper3 {
	height: 240px;
	float: left;
	width: 33.333333%;
	overflow: hidden;
	background: #fff;
	text-align: center;
}

.classify li {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.classify li.color {
	background: #fff;
}

.classify li.color a {
	color: #ff6801;
}

#wrapper1 .classify {
	background: #f0f0f0;
	height: 240px;
}

#wrapper2 .classify {
	background: #f7f7f7;
	height: 240px;
}

#wrapper3 .classify {
	background: #fff;
	height: 240px;
}